* {
  padding: 0;
  margin: 0;
  font-family: 'Poor Story', system-ui;
}
img {
  display: none;
}
html {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;
}
body {
  height: 100%;
  width: 100%;
  background-color: #c0e7ea;
  overflow-x: hidden;
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.inactive {
  display: none !important;
}
h2 {
  font-size: 25px;
}
p,
td,
th,
.input input,
.input button {
  font-size: 18px;
}
/* LOGO */
#logo {
  display: flex;
}

/* CANVAS */

.canvasWrapper {
  position: relative;
}

#canvas {
  background-image: url('/src/img/canvasBackground.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

  z-index: -10;
}

/* CONTROLS */

#controlsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#controlsContainer input {
  height: 38px;
  image-rendering: pixelated;
}

/* BUTTONS */

#startGameBtn {
  display: block;
  width: 100%;
  transition: scale 0.3s;
}

#startGameBtn:hover {
  scale: 1.05;
}

/* MENU */

.menuButtons {
  display: flex;
  position: absolute;
  bottom: 10%;
  justify-content: space-around;
  align-content: flex-end;
}

.menuButtons input {
  width: 15%;
  cursor: pointer;
  transition: scale 0.3s;
}

.menuButtons input:hover {
  scale: 1.1;
}

.startGameWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

/* TIMER AND SCORE AND PAUSE */

.timerWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

#timer {
  text-align: center;
}

#score {
  position: absolute;
  left: 0px;
}

#pauseBtn {
  display: block;
  position: absolute;
  width: 8%;
  right: 0px;
  cursor: pointer;
}

/* SHOP */

.shopScreen {
  position: absolute;
  top: 0px;
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
}

.shopScreen h2 {
  position: absolute;
  top: 10%;
}

.shopScreen img {
  display: block;
}

.shopScreen .characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 30%;

  font-weight: lighter;
}

.characters .img {
  display: flex;
  gap: 30px;
}

.img img {
  background-color: #c0e7ea;
  border-radius: 50%;
  cursor: pointer;
  width: 50px;
}

.img img:hover {
  scale: 1.1;
}

.selected {
  background-color: #509021 !important;
}

#closeLeaderboardBtn,
#closeShopBtn {
  width: 10%;
  position: absolute;
  top: 4%;
  right: 4%;
}

#restartBtn {
  display: block;
  cursor: pointer;
  width: 20%;
}

.restartScreen {
  color: white;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  gap: 5%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
}

.leaderboardScreen {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.8));
}

.leaderboardScreen {
  td,
  th {
    font-size: 12px;
  }
}

.tableWrapper {
  z-index: 10;
  position: absolute;
  top: 30%;
  max-height: 55%;
  width: 90%;
  display: flex;
  justify-content: center;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
}

.leaderboardScreen h2 {
  position: absolute;
  top: 10%;
}

.leaderboardScreen table {
  box-sizing: border-box;
  width: 90%;
}

th,
td {
  padding: 2px 5px;
  text-align: left;
}

.input {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.input input,
.input button {
  font-weight: bolder;
  padding: 6px;
  border-radius: 8px;
  border: none;
}
.input input {
  width: 40%;
}

button {
  cursor: pointer;
}
@media (max-width: 260px) {
  .img img {
    width: 30px;
  }
  h2 {
    font-size: 20px;
  }
  p,
  td,
  th,
  .input input,
  .input button {
    font-size: 15px;
  }
  #controlsContainer input {
    height: 30px;
  }
  .input input,
  .input button {
    padding: 0 3px;
  }
}

@media (min-width: 400px) {
  .img img {
    width: 66px;
  }
  #controlsContainer input {
    height: 30px;
  }
  h2 {
    font-size: 40px;
  }
  p,
  td,
  th,
  .input input,
  .input button {
    font-size: 25px;
  }
  #controlsContainer input {
    height: 44px;
  }
  .leaderboardScreen {
    td,
    th {
      font-size: 20px;
    }
  }
}

@media (min-width: 799px) {
  #controlsContainer input {
    height: 30px;
  }
  h2 {
    font-size: 50px;
  }
  p,
  td,
  th,
  .input input,
  .input button {
    font-size: 33px;
  }
  #controlsContainer input {
    height: 55px;
  }
  .img img {
    width: 80px;
  }
  .leaderboardScreen {
    td,
    th {
      font-size: 25px;
    }
  }
}
